* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000430;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px auto 0 auto;
    max-width: 500px;
    padding: 0 15px;
}

/* TOP STATUS CARD */
.state-container {
    padding: 30px;
    border-radius: 25px;
    border: 2px solid #828dff;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

/* LEFT DETAILS */
.details {
    width: 100%;
}

.details h1 {
    text-transform: capitalize;
}

/* CIRCLE COUNTER */
#number {
    width: 100px;
    height: 100px;
    background-color: #828dff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

/* PROGRESS BAR */
#progressBar {
    height: 10px;
    width: 100%;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: aqua;
    border-radius: 10px;
    transition: width 0.3s ease;
}

/* FORM */
form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

/* INPUT */
input {
    flex: 1;
    padding: 16px;
    background-color: #000430;
    border: 1px solid #828dff;
    border-radius: 10px;
    outline: none;
    color: white;
    font-size: 16px;
}

/* BUTTON */
button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#828dff
}
/* TASK LIST */
.task-list {
    list-style: none;
    width: 100%;
    margin-top: 30px;
}

/* SINGLE TASK */
.taskItem {
    background-color: #000430;
    padding: 15px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #828dff;
}

/* TASK LEFT */
.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.taskText.done {
    text-decoration: line-through;
    opacity: 0.6;
}

/* ICONS CONTAINER */
.icons {
    display: flex;
    gap: 12px;
}

/* MATERIAL ICONS */
.material-symbols-outlined {
    cursor: pointer;
    font-size: 22px;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* EDIT ICON */
.material-symbols-outlined.edit {
    color: #4caf50;
}

.material-symbols-outlined.edit:hover {
    transform: scale(1.2);
    color: #2e7d32;
}

/* DELETE ICON */
.material-symbols-outlined.delete {
    color: #ff4d4d;
}

.material-symbols-outlined.delete:hover {
    transform: scale(1.2);
    color: red;
}
